In [16]:
import pandas as pd 
import numpy as np

In [36]:
df = pd.read_csv('/Users/meganpolak/Documents/InterestRateYearly.csv',sep=",",header=0)

In [37]:
df

,Year,US_30_yr_FRM,30_yr_fees&points,US_15_yr_FRM,15_yr_fees&points,US_5/1_ARM,5/1_ARM_fees&points,US_5/1_ARM_margin,30_yr_FRM/5/1_ARM_spread
0,1/7/10,5.09,0.7,4.50,0.7,4.44,0.6,2.74,NaN
1,1/14/10,5.06,0.7,4.45,0.6,4.32,0.6,2.74,NaN
2,1/21/10,4.99,0.7,4.40,0.6,4.27,0.6,2.74,NaN
3,1/28/10,4.98,0.6,4.39,0.6,4.25,0.6,2.74,NaN
4,2/4/10,5.01,0.7,4.40,0.7,4.27,0.6,2.74,NaN
5,2/11/10,4.97,0.7,4.34,0.6,4.19,0.6,2.73,NaN
6,2/18/10,4.93,0.7,4.33,0.6,4.12,0.5,2.74,NaN
7,2/25/10,5.05,0.7,4.40,0.7,4.16,0.6,2.74,NaN
8,3/4/10,4.97,0.7,4.33,0.7,4.11,0.6,2.74,NaN
9,3/11/10,4.95,0.7,4.32,0.7,4.05,0.6,2.74,NaN
10,3/18/10,4.96,0.7,4.33,0.6,4.09,0.6,2.74,NaN
11,3/25/10,4.99,0.6,4.34,0.6,4.14,0.6,2.74,NaN
12,4/1/10,5.08,0.7,4.39,0.6,4.10,0.6,2.75,NaN
13,4/8/10,5.21,0.6,4.52,0.6,4.25,0.6,2.75,NaN
14,4/15/10,5.07,0.6,4.40,0.7,4.08,0.6,2.74,NaN
15,4/22/10,5.07,0.7,4.39,0.6,4.03,0.6,2.75,NaN
16,4/29/10,5.06,0.7,4.39,0.7,4.00,0.6,2.75,NaN
17,5/6/10,5.00,0.7,4.36,0.7,3.97,0.7,2.74,NaN
18,5/13/10,4.93,0.7,4.30,0.6,3.95,0.6,2.74,NaN
19,5/20/10,4.84,0.7,4.24,0.7,3.91,0.6,2.74,NaN
20,5/27/10,4.78,0.7,4.21,0.7,3.97,0.7,2.75,NaN
21,6/3/10,4.79,0.8,4.20,0.7,3.94,0.7,2.74,NaN
22,6/10/10,4.72,0.7,4.17,0.7,3.92,0.7,2.75,NaN
23,6/17/10,4.75,0.7,4.20,0.7,3.89,0.7,2.75,NaN
24,6/24/10,4.69,0.7,4.13,0.6,3.84,0.7,2.74,NaN
25,7/1/10,4.58,0.7,4.04,0.7,3.79,0.7,2.75,NaN
26,7/8/10,4.57,0.7,4.07,0.7,3.75,0.7,2.74,NaN
27,7/15/10,4.57,0.7,4.06,0.7,3.85,0.7,2.74,NaN
28,7/22/10,4.56,0.7,4.03,0.7,3.79,0.6,2.74,NaN
29,7/29/10,4.54,0.7,4.00,0.7,3.76,0.7,2.75,NaN
...,...,...,...,...,...,...,...,...,...
387,6/8/17,3.89,0.5,3.16,0.5,3.11,0.5,2.74,0.78
388,6/15/17,3.91,0.5,3.18,0.5,3.15,0.5,2.74,0.76
389,6/22/17,3.90,0.5,3.17,0.5,3.14,0.5,2.74,0.76
390,6/29/17,3.88,0.5,3.17,0.5,3.17,0.5,2.74,0.71
391,7/6/17,3.96,0.6,3.22,0.5,3.21,0.5,2.74,0.75
392,7/13/17,4.03,0.5,3.29,0.5,3.28,0.5,2.74,0.75
393,7/20/17,3.96,0.6,3.23,0.5,3.21,0.5,2.74,0.75
394,7/27/17,3.92,0.5,3.20,0.5,3.18,0.5,2.74,0.74
395,8/3/17,3.93,0.5,3.18,0.5,3.15,0.5,2.74,0.78
396,8/10/17,3.90,0.5,3.18,0.5,3.14,0.5,2.74,0.76
397,8/17/17,3.89,0.4,3.16,0.5,3.16,0.4,2.74,0.73
398,8/24/17,3.86,0.5,3.16,0.5,3.17,0.5,2.74,0.69
399,8/31/17,3.82,0.5,3.12,0.5,3.14,0.5,2.74,0.68
400,9/7/17,3.78,0.5,3.08,0.5,3.15,0.4,2.74,0.63
401,9/14/17,3.78,0.5,3.08,0.5,3.13,0.4,2.74,0.65
402,9/21/17,3.83,0.5,3.13,0.5,3.17,0.4,2.74,0.66
403,9/28/17,3.83,0.6,3.13,0.5,3.20,0.5,2.74,0.63
404,10/5/17,3.85,0.5,3.15,0.5,3.18,0.4,2.74,0.67
405,10/12/17,3.91,0.5,3.21,0.5,3.16,0.4,2.74,0.75
406,10/19/17,3.88,0.5,3.19,0.5,3.17,0.4,2.74,0.71
407,10/26/17,3.94,0.5,3.25,0.5,3.21,0.4,2.74,0.73
408,11/2/17,3.94,0.5,3.27,0.5,3.23,0.5,2.74,0.71
409,11/9/17,3.90,0.4,3.24,0.5,3.22,0.5,2.74,0.68
410,11/16/17,3.95,0.5,3.31,0.5,3.21,0.4,2.74,0.74
411,11/22/17,3.92,0.5,3.32,0.4,3.22,0.4,2.74,0.70
412,11/30/17,3.90,0.5,3.30,0.5,3.32,0.3,2.74,0.58
413,12/7/17,3.94,0.5,3.36,0.5,3.35,0.3,2.75,0.59
414,12/14/17,3.93,0.5,3.36,0.5,3.36,0.3,2.75,0.57
415,12/21/17,3.94,0.5,3.38,0.5,3.39,0.3,2.75,0.55
416,12/28/17,3.99,0.5,3.44,0.5,3.47,0.3,2.75,0.52

In [39]:
# covert year into date time type 
df['Year']=pd.to_datetime(df['Year'])

In [43]:
# extract only year 
df['Year']=df['Year'].dt.year

In [47]:
df.head(10)

,Year,US_30_yr_FRM,30_yr_fees&points,US_15_yr_FRM,15_yr_fees&points,US_5/1_ARM,5/1_ARM_fees&points,US_5/1_ARM_margin,30_yr_FRM/5/1_ARM_spread
0,2010,5.09,0.7,4.50,0.7,4.44,0.6,2.74,NaN
1,2010,5.06,0.7,4.45,0.6,4.32,0.6,2.74,NaN
2,2010,4.99,0.7,4.40,0.6,4.27,0.6,2.74,NaN
3,2010,4.98,0.6,4.39,0.6,4.25,0.6,2.74,NaN
4,2010,5.01,0.7,4.40,0.7,4.27,0.6,2.74,NaN
5,2010,4.97,0.7,4.34,0.6,4.19,0.6,2.73,NaN
6,2010,4.93,0.7,4.33,0.6,4.12,0.5,2.74,NaN
7,2010,5.05,0.7,4.40,0.7,4.16,0.6,2.74,NaN
8,2010,4.97,0.7,4.33,0.7,4.11,0.6,2.74,NaN
9,2010,4.95,0.7,4.32,0.7,4.05,0.6,2.74,NaN

In [45]:
# get avarage per year 
df.groupby('Year').mean()

,US_30_yr_FRM,30_yr_fees&points,US_15_yr_FRM,15_yr_fees&points,US_5/1_ARM,5/1_ARM_fees&points,US_5/1_ARM_margin,30_yr_FRM/5/1_ARM_spread
Year,,,,,,,,
2010,4.689808,0.717308,4.095577,0.667308,3.824808,0.626923,2.744615,NaN
2011,4.447885,0.717308,3.684231,0.709615,3.310962,0.596154,2.740769,NaN
2012,3.657500,0.717308,2.934423,0.684615,2.784808,0.646154,2.740962,NaN
2013,3.975577,0.732692,3.100769,0.700000,2.877885,0.525000,2.749615,NaN
2014,4.168868,0.592453,3.286038,0.571698,3.019245,0.464151,2.738491,NaN
2015,3.850577,0.615385,3.087500,0.576923,2.939038,0.450000,2.740769,NaN
2016,3.654038,0.530769,2.930769,0.492308,2.876923,0.453846,2.739808,0.777115
2017,3.989808,0.498077,3.272500,0.490385,3.198846,0.428846,2.740577,0.790962